/* Bootstrap Overrides */

.form-control:focus,
.btn:focus,
.btn-outline-success:focus,
.btn-outline-success:active:focus,
.btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-danger:focus,
.btn-outline-danger:active:focus,
.navbar-toggler:focus,
.navbar-toggerl:active:focus {

    box-shadow: none;

}

.form-control:focus {

    border-color: black;

}

.required,
.required:focus {

    border-left: solid red 2px;

}

.form-check-input {
    border-color: black;
}

.form-switch .form-check-input,
.form-switch .form-check-input:focus {

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='black'/%3e%3c/svg%3e");

}

.form-check-input:checked {

    border-color: black;
    background-color: black;

}

.form-switch .form-check-input:checked:focus {

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");

}