/* Bootstrap Overrides */

.form-control:focus,
.btn:focus,
.btn-outline-success:focus,
.btn-outline-success:active:focus,
.btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-danger:focus,
.btn-outline-danger:active:focus {

    box-shadow: none;

}

.form-control:focus {

    border-color: black;

}

.required,
.required:focus {

    border-left: solid red 2px;

}